body {
    margin-top: 2%;
    font-family: "Varela Round", serif;
}

* {
    margin: 0;
    padding: 0;
}

#headercontainer {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#buttons a {
    color: black;
    font-size: 2rem;
    text-decoration: none;
}

#mainimg {
    width: 100%;
    margin-bottom: 20%;
}

#maincontainer {
    background-color: rgb(240, 240, 240);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1rem;
    margin-bottom: 25%;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    padding-top: 2.5%;
    margin-bottom: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.tab {
    padding-top: 1%;
    cursor: pointer;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 1.25rem;
    border: solid 3px rgb(178, 178, 178);
    border-bottom: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 50%;
}

.recordButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(0, 255, 98);
    color: white;
    border: none;
    border-radius: 5px;
  }
  .recordButton.recording {
    background-color: rgb(255, 0, 0);
  }

  