body {
    margin-top: 2%;
    font-family: "Varela Round", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#headercontainer {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    background-color: rgb(244, 244, 244);
    box-shadow: 0px 0px 5px 2px #e0e0e0;
    border-radius: 1rem;
}

#section-one {
    padding-top: 5%;
}

#buttons {
    display: flex;
    align-items: center;
}

#buttons a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1%;
    transition: 0.3s;
    border-radius: 1rem;
    width: 33.33333%;
    text-align: center;
}

#buttons a:hover {
    background-color: #CCC;
}

#mainimg {
    width: 100%;
    margin-bottom: 20%;
}

#maincontainer {
    background-color: rgb(240, 240, 240);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1rem;
}

.container {
    display: flex;
}

.textcontainer {
    width: 30%;
    padding: 5%;
    padding-left: 7.5%;
    justify-content: center;
    align-items: center;
}

.generatecontainer {
    display: inline-block;
    width: 70%;
    padding: 3%;
    background-color: #CCC;
    border-radius: 1rem;
}


[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    padding-top: 2.5%;
    margin-bottom: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.tab {
    padding-top: 1%;
    cursor: pointer;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 1.25rem;
    border: solid 3px rgb(178, 178, 178);
    border-bottom: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 10%;
    margin-bottom: 20%;
}

.recordButton {
    padding: 10px 20px;
    font-size: 5rem;
    cursor: pointer;
    background-color: rgb(8, 71, 0);
    color: white;
    border: none;
    border-radius: 1rem;
  }
  .recordButton.recording {
    background-color: rgb(255, 0, 0);
  }

  .flashcardcontainer {
    border-radius: 1rem;
    background-color: rgb(240, 240, 240);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.flashcard {
    background-color: rgb(200, 200, 200);
    width: 75%;
    padding-top: 10%;
    padding-bottom: 15%;
    border-radius: 1rem;
    text-align: center;
}


  