body {

    font-family: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* border: black 1px solid; */
}

#landingPageContainer {
    margin-bottom: 30%;
}

#landingPageHeader {
    letter-spacing: -12.5px;
    position: absolute;
    top: 10%;
    font-size: 10rem;
    color: white;
    width: 100%;
    text-align: center;
}

.landingImg {
    position: absolute;
    top: 0;
    left: 0;
}

#personImg {
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

#cloud1Img {
    transform: translate(300px, 300px);
}

#cloud2Img {
    transform: translate(-900px, 300px);
}

#headercontainer {
    top: 3%;
    padding-left: 40%;
    padding-right: 40%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    border-radius: 1rem;
}

#section-one {
    padding-top: 5%;
}

#buttons {
    display: flex;
    align-items: center;
}

#buttons a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1%;
    transition: 0.3s;
    border-radius: 1rem;
    width: 33.33333%;
    text-align: center;
}

#buttons a:hover {
    opacity: 0.5;
}

#mainimg {
    width: 100%;
    margin-bottom: 20%;
}

#maincontainer {
    margin-top: 1%;
    box-shadow: 0px 0px 10px 5px #e6e6e6;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 1rem;
    margin-bottom: 25%;
    padding: 5%;
}

@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    75% {
      background-position: -100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#mainheading {
    color: #000000;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
}

.textcontainer {
    width: 30%;
    padding: 5%;
    padding-left: 7.5%;
    justify-content: center;
    align-items: center;
}

.generatecontainer {
    display: inline-block;
    width: 70%;
    padding: 3%;
    background-color: #CCC;
    border-radius: 1rem;
}

.gradienttext {
    background: linear-gradient(90deg, #1530ff, #0dbeff, #01ffff, #1058ff, #4a2aff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 18s infinite linear;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

#course1, #course2, #course3, #course4, #course5 {
    background-color: #f4f4f4;
    border-radius: 1rem;
    padding: 3%;
    position: relative;
}

#home {
    padding: 3%;
    border-radius: 1rem;
    background-color: #f4f4f4;
}

#hometext {
    font-weight: normal;
}

.tabs {
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.tab {
    font-weight: 600;
    padding-top: 1%;
    cursor: pointer;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 1.25rem;
    border-bottom: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: 0.3s;
    padding-bottom: 0.5%;
}

.tab.active {
    background-color: #f4f4f4;
}

.tab:hover {
    background-color: #cacaca;
}

.tab-content {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 60px;
    margin-bottom: 20%;
}

.textcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recordButton {
    padding: 10px 20px;
    padding-top: 30px;
    font-size: 5rem;
    cursor: pointer;
    background-color: rgb(143, 218, 124);
    color: white;
    border: none;
    border-radius: 1rem;
  }

.recordButton.recording {
    background-color: rgb(255, 125, 125);
  }

.flashcardcontainer {
    text-align: center;
    background-color: #CCC;
    border-radius: 1rem;
    width: 100%;
    padding: 30%;
    margin-top: 10%;
}

.regenbutton {
    font-size: 1rem;
    border: none;
    background: none;
    position: absolute;
    bottom: 0;
    left: 43%;
}

#informationcontainer {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30%;
}

#informationheader {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5%;
}

#informationparagraph {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}